body {
	padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	padding-bottom: 70px;
}

.caption h4 {
	white-space: nowrap;
}

.thumbnail img {
	height: 350px;
	width: 100%
}

.ratings {
	padding-right: 10px;
	padding-left: 10px;
	color: #d17581;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

.footer-row {
	margin: 15px 0 0 !important;
}

.row-marging {
	margin-bottom:15px;
}

.input-group-addon-search {
	background-color: white;
}

.btn-group-own {
	margin-bottom:15px;
}

.btn-group-own .btn-group-own-item {
	padding: 6px 0;
}

.btn-edit-book {
	width: 45%;
}

.btn-book {
	width: 45%;
}

.locale>li>a {
	margin-right: 5px;
	padding: 15px 0 15px 0;
}

.error {
	color: red;
}